body{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size:cover ;
}
h1{
    margin-top:189px;
    text-align: center;
}
form{
    width: 28rem;
    margin: auto;
    color: black;
    backdrop-filter:after blur(17px) saturate(180%);
    -webkit-backdrop-filter:aftersaturate(180%);
    border-radius:12px;
    border:1px solid rgba(255,255,255,0.125);

}
input[type=text],input[type=password]{
    text-align: center;
    width:100%
    margin: 20px 0px;
    border-radius:5px;
    padding: 15px 18px;
    box-sizing: border-box;

}
button{
    background-color: #185ea4;
    color:beige;
    padding: 12px 15px;
    border-radius: 4px;
    margin:7px 0;
    width: 75%;
    font-size: medium;
    

}
button:hover{
    opacity: 0.6;
    cursor: pointer;
}
.container{
    text-align: center;
}
.maincontainer{
    
    
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 20%;
    padding: 20px 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #2773a5 ;
   
}

.subcontainer{
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content:start;
}
.register{
    color: black;
    text-align: center;
}
.register a{
    color: rgb(74,146,235);
}
.register a:link{
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    form{
      width: 25rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    form{
      width: 20rem;
    }
  }
  a{
    color: aliceblue;
  }